.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  margin-top: 20px;
}

.num-lock-warning {
  color: red;
  background-color: yellow;
  padding: 5px;
  border-radius: 5px;
  margin: 10px 0;
}

#mat-connect {
  font-size: 16px;
  text-align: right;
}
