<div [style.font-size.px]="settings.fontSize" [style.color]="settings.fontColor" [style.background-color]="settings.backgroundColor">
  <div class="header">
    <app-bib-entry></app-bib-entry>
    @if (isNumLockOff&&settings.numLockWarn) {
      <div class="num-lock-warning">Warning: Num Lock is off!</div>
    }
    <app-race-clock></app-race-clock>
  </div>
  <div class="upper-info-bar">
    <div class="pause-status">@if (paused) {
      Paused: {{ pausedQueueLength }} entries in queue
    }</div>
    @if (isElectron) {
      <div id="mat-connect">
        <app-connect-mat-stream></app-connect-mat-stream>
      </div>
    }
  </div>

  <div>
    @switch (settings.announceTemplate) {
      @case ('grid') {
        <app-announce-grid></app-announce-grid>
      }
      @case ('freeform') {
        <app-announce-freeform></app-announce-freeform>
      }
      @case ('timer') {
        <app-announce-timer></app-announce-timer>
      }
      @case ('recency') {
        <app-announce-recency></app-announce-recency>
      }
      @default {
        <app-error></app-error>
      }
    }
  </div>
</div>
