<table>
  <thead>
  <tr>
    <th>BIB</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Town</th>
    <th>State</th>
    <th>Custom Field 1</th>
    <th>Custom Field 2</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let runner of runners">
    <td>{{runner.bib}}</td>
    <td>{{runner.firstName}}</td>
    <td>{{runner.lastName}}</td>
    <td>{{runner.age}}</td>
    <td>{{runner.gender}}</td>
    <td>{{runner.town}}</td>
    <td>{{runner.state}}</td>
    <td>{{runner.customField1}}</td>
    <td>{{runner.customField2}}</td>
  </tr>
  </tbody>
</table>
