<div>
  <div *ngFor="let runner of runnerList; index as i" [hidden]="i >= settings.displayLines">
    <span class="runnerAttribute">{{runner.bib}}</span>
    <span class="runnerAttribute">{{runner.firstName}}</span>
    <span class="runnerAttribute">{{runner.lastName}}</span>
    <span class="runnerAttribute">{{runner.age}}</span>
    <span class="runnerAttribute">{{runner.gender}}</span>
    <span class="runnerAttribute">{{runner.town}}</span>
    <span class="runnerAttribute">{{runner.state}}</span>
    <span *ngFor="let field of customFields">
      {{runner.customFields[field.name]}}
    </span>
  </div>
</div>
