<div>
  @for (runner of runnerList; track runner; let i = $index) {
    <div [hidden]="i >= settings.displayLines">
      <span class="runnerAttribute">{{runner.bib}}</span>
      <span class="runnerAttribute">{{runner.firstName}}</span>
      <span class="runnerAttribute">{{runner.lastName}}</span>
      @if (runner.age > 0) {
        <span class="runnerAttribute">{{runner.age}}</span>
      }
      <span class="runnerAttribute">{{runner.gender}}</span>
      <span class="runnerAttribute">{{runner.town}}</span>
      <span class="runnerAttribute">{{runner.state}}</span>
      @for (field of customFields; track field) {
        <span class="runnerAttribute">
          {{runner.customFields[field.name]}}
        </span>
      }
    </div>
  }
</div>
