<div>
  <div *ngFor="let announce of runnerList; index as i" [hidden]="i >= settings.displayLines">
    <span class="runnerAttribute">{{announce.bib}}</span>
    <span class="runnerAttribute">{{announce.firstName}}</span>
    <span class="runnerAttribute">{{announce.lastName}}</span>
    <span class="runnerAttribute">{{announce.age}}</span>
    <span class="runnerAttribute">{{announce.gender}}</span>
    <span class="runnerAttribute">{{announce.town}}</span>
    <span class="runnerAttribute">{{announce.state}}</span>
    <span class="runnerAttribute">{{announce.customField1}}</span>
    <span class="runnerAttribute">{{announce.customField2}}</span>
  </div>
</div>
