<header>
  <nav>
    <a routerLink="/announce" routerLinkActive="active">Announce</a>
    <a routerLink="/browse" routerLinkActive="active">Browse</a>
    <a routerLink="/settings" routerLinkActive="active">Settings</a>
    <a routerLink="/import" routerLinkActive="active">Import/Export</a>
    <a routerLink="/bibscrape" routerLinkActive="active">BibScrapeUtil</a>
    <a *ngIf="isElectron" routerLink="/connectfs" routerLinkActive="active">Connect FS</a>

  </nav>
</header>
<main class="app-container">
  <router-outlet></router-outlet>
</main>
