table {
  border-collapse: collapse;
  overflow-x: auto; /* Makes the table scrollable horizontally */
}

th, td {
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 8px; /*!* Padding inside cells *!*/
  padding-right: 8px; /*!* Padding inside cells *!*/
}


