<table aria-label="Runners to announce" style="font-size: 18px">
  <thead>
  <tr>
    <th>Time</th>
    <th>Bib</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th *ngFor="let field of customFields">
      {{field.name}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let runner of reverseRunnerList; index as i" [hidden]="i >= settings.displayLines">
    <td>{{ runStartTime | timeDuration:runner.timeEntered }}</td>
    <td>{{runner.bib}}</td>
    <td>{{runner.firstName}}</td>
    <td>{{runner.lastName}}</td>
    <td>{{runner.age}}</td>
    <td>{{runner.gender}}</td>
    <td *ngFor="let field of customFields">
      {{ runner.customFields[field.name] }}
    </td>
  </tr>
  </tbody>
</table>
