.custom-field-group {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.custom-field-group h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-field-group h3 {
  margin-top: 0;
  margin-bottom: 0;
}
