<div>
  <label>
    Font Size: <input [(ngModel)]="settings.fontSize" type="number">
  </label>
  <label>
    Font Color: <input [(ngModel)]="settings.fontColor" type="color">
  </label>
  <label>
    Display Lines: <input [(ngModel)]="settings.displayLines" type="number">
  </label>
  <label>
    Background Color: <input [(ngModel)]="settings.backgroundColor" type="color">
  </label>
  <label>
    Proxy URL: <input [(ngModel)]="settings.proxyUrl" type="text">
  </label>
  <label>
    Delete Keybind: <input [(ngModel)]="settings.deleteKeybind" (keydown)="onKeydown($event)" type="text">
  </label>

  <button (click)="saveSettings()">Save Settings</button>
</div>
