<div [formGroup]="settingsForm">
  <div>
    <label>
      Font Size: <input formControlName="fontSize" type="number">
    </label>
  </div>
  <div>
    <label>
      Font Color: <input formControlName="fontColor" type="color">
    </label>
  </div>
  <div>
    <label>
      Display Lines: <input formControlName="displayLines" type="number">
    </label>
  </div>
  <div>
    <label>
      Background Color: <input formControlName="backgroundColor" type="color">
    </label>
  </div>
  <div>
    <label>
      Num Lock Warning:
      <input formControlName="numLockWarn" type="checkbox">
    </label>
  </div>
  <div>
    <label>
      CORS Proxy URL: <input formControlName="proxyUrl" type="text" placeholder="https://proxy.example.com/">
    </label>
  </div>
  <div>
    <label>
      EF Race ID: <input formControlName="raceId" type="text" placeholder="12345">
    </label>
  </div>
  <div>
    <label>
      Delete Keybind: <input formControlName="deleteKeybind" (keydown)="onKeydown($event)" type="text">
    </label>
  </div>
  <div>
    <label>
      Announcer Screen View:
      <select formControlName="announceTemplate">
        <option *ngFor="let templateOption of templateOptions" [value]="templateOption.value">
          {{templateOption.display}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>
      Race Start Time: <input formControlName="raceStartTime" type="datetime-local" step="0.1">
    </label>
  </div>
  <div class="custom-field-group">
    <h3>Custom Fields</h3>
    <div formArrayName="customFields">
      <div *ngFor="let field of customFields.controls; let i = index" [formGroupName]="i" class="custom-field-group">
        <h4>Custom Field {{i+1}}</h4>
        <div>
          <label>
            Name: <input formControlName="name" type="text">
          </label>
        </div>
        <div>
          <label>
            Show in Announce Screen:
            <input formControlName="showInAnnounce" type="checkbox">
          </label>
        </div>
        <div>
          <label>
            Show in Browse Screen:
            <input formControlName="showInBrowse" type="checkbox">
          </label>
        </div>
        <button (click)="removeField(i)">Remove This Field</button>
      </div>
    </div>
    <button (click)="addField()">Add Field</button>
  </div>


  <button (click)="saveSettings()">Save Settings</button>
  <p *ngIf="status === 'success'" class="success-message">Settings saved successfully!</p>
</div>
