.custom-field-group {
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom: 5px;
}

.custom-field-group h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.custom-field-group h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.collapsible {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.collapsible-label {
  display: block;
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
}

.collapsible-content {
  padding: 10px;
  display: none;
}

.collapsible-checkbox {
  display: none;
}

.collapsible-checkbox:checked ~ .collapsible-content {
  display: block;
}

.mat-connections-info {
  margin-bottom: 10px;
  color: #555;
  font-size: 0.9em;
}
