<div>
  <div>
    <label>
      Font Size: <input [(ngModel)]="settings.fontSize" type="number">
    </label>
  </div>
  <div>
    <label>
      Font Color: <input [(ngModel)]="settings.fontColor" type="color">
    </label>
  </div>
  <div>
    <label>
      Display Lines: <input [(ngModel)]="settings.displayLines" type="number">
    </label>
  </div>
  <div>
    <label>
      Background Color: <input [(ngModel)]="settings.backgroundColor" type="color">
    </label>
  </div>
  <div>
    <label>
      Proxy URL: <input [(ngModel)]="settings.proxyUrl" type="text">
    </label>
  </div>
  <div>
    <label>
      Delete Keybind: <input [(ngModel)]="settings.deleteKeybind" (keydown)="onKeydown($event)" type="text">
    </label>
  </div>
  <div>
    <label>
      Announcer Screen View:
      <select [(ngModel)]="settings.announceTemplate">
        <option *ngFor="let templateOption of templateOptions" [value]="templateOption.value">
          {{templateOption.display}}
        </option>
      </select>
    </label>
  </div>


  <button (click)="saveSettings()">Save Settings</button>
</div>
